* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #007bff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container {
    position: relative;
    width: 100%;
    max-width: 600px;
  }
  
  .back-button {
    position: absolute;
    top: 0px;
    left: 20px;
    background: none;
    border: none;
    color: white;
    text-decoration: none;
  }
  
  .form-card {
    background-color:  #007bff;
    color: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    margin-bottom: 8px;
  }
  
  h3 {
    margin-bottom: 12px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  label {
    font-size: 14px;
  }
  
  .signup-button {
    background-color: #ffffff;
    color: #0056d2;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signup-button:hover {
    background-color: #e6e6e6;
  }
  